.project-details {
    padding: 16px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back {
    display: flex;
    align-items: center;
    align-self: flex-start;
    gap: 16px;
    margin-bottom: 32px;
}

.back img {
    height: 16px;
}

.project-title {
    font-family: "Emberly";
    font-weight: 800;
    font-size: 3rem;
    text-align: center;
}

.project-short {
    margin-bottom: 48px;
    text-align: center;
}

.project-img {
    background-color: grey;
    width: 100vw;
    object-fit: cover;
    margin-bottom: 32px;
}

.project-long {
    text-align: justify;
    text-indent: 32px;
    margin-bottom: 32px;
}

@media only screen and (min-width: 1024px) {

    .project-details {
        margin: auto;
        max-width: 720px;
    }

    img.project-img {
        width: 100%;
        height: auto;
    }

    .project-long {
        font-size: 1.5rem;
    }
}